.App {
  text-align: center;
}

@keyframes rock {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.App-logo {
  animation: rock infinite 3s linear;
  height: 50px;
  pointer-events: none;
  vertical-align: middle;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color: #525252;
  min-height: 75vh;
  height: 75vh;
  min-width: 95vw;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  font-size: calc(10px + 0.5vmin);
  color: white;
  padding: 10px;
}

.App-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 40vw;
  /*min-width: 40vw;*/
  max-width: 70vw;
  border-right-style: dotted;
  border-right-width: 2px;
  border-color: rgb(164, 170, 175);
  resize: horizontal;
  overflow: auto;
  align-content: stretch;
  justify-content: space-between;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  position: top;
  width: inherit;
  padding: 10px;
  height: 300px;
  min-height: 285px;
  resize: vertical;
  overflow: auto;
  border-color: rgb(164, 170, 175);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  overflow: none;
}
.audio-Layers {
  width: inherit;
  padding: 10px;
  min-height: 3vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  overflow: auto;
  border-color: rgb(164, 170, 175);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

.mediaControls {
  width: inherit;
}

.mediaControls table {
  width: 250px;
}

.react-player__preview {
  min-height: 40vh;
}

.DetailsZone {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex: 3;
}

.App-link {
  color: #61dafb;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.flex-container {
  display: flex;
  align-items: center;
}

.control-row {
  width: 100%;
  vertical-align: center;
  height: 25px;
  display: flex;
  margin: 5px 0px;
  padding: 0px;
  overflow: hidden;
}

.control-row-items {
  width: 100%;
  height: 25px;
  vertical-align: center;
  display: flex;
  flex-flow: row wrap;
}

.play-pause-button {
  width: 35px;
  height: 100%;
  float: left;
}

.loop-button {
  width: 30px;
  height: 100%;
  float: left;
}

.fullscreen-button {
  width: 34px;
  float: right;
  height: 100%;
}

.durations {
  float: left;
  height: 100%;
  width: 80px;
}

.control-row .seek-input {
  align-content: stretch;
  margin: 0px 10px;
  flex-grow: 1;
  border: 2px solid black;
}

.react-player {
  background-color: black;
  flex-grow: 1;
}

.duration-elapsed,
.total-duration {
  display: inline-block;
}

.total-duration {
  padding-right: 5px;
}

.total-duration::before {
  content: "/";
}

.playback-rate {
  padding: 0px 10px;
  width: 35px;
}

.current-transcription {
  background-color: white;
  height: 15%;
  min-height: 50px;
}

.durations {
  overflow: hidden;
}

.annotation-table {
  flex-grow: 1;
  height: 100%;
}
